- extends "base.haml"

- load static
- load i18n

- block breadcrumbs_app
  {% trans "Dashboard" %}

- block extra
  %link{:rel => "stylesheet", :href => '{% static "workflow/css/dashboard.css" %}'}/

- block content
  - block sidebar
    .sidebar.col-md-1
      %ul
        %li
          %a.users-link
            %button.btn.btn-lg
              %span.glyphicon.glyphicon-user
        %li
          %a.projects-link
            %button.btn.btn-lg
              %span.glyphicon.glyphicon-folder-open
        %li
          %a.ideas-link
            %button.btn.btn-lg
              %i.fa.fa-lightbulb-o

        %li
          %a.question-link
            %button.btn.btn-lg
              %i.fa.fa-question-circle

  - block dashboard
    .row.col-md-offset-1.filters
      .container
        .col-md-6
          %select.form-control{:name => "filters"}
    .row.col-md-offset-1.dashboard
      .container
