.col-md-6
  .panel.panel-default.workflow
    .panel-heading
      %span.glyphicon.glyphicon-tasks
      %h2
        Workflow
        %select.filter-select{:name => "filter-select"}
    .panel-body
      .col-md-offset-5
          Select user
.col-md-6     
  .panel.panel-default.tasks-details
    .panel-heading
      %span.glyphicon.glyphicon-search
      %h2
        User tasks details
      
    .panel-body

