/*!
 * _colors.scss
 */


$font-title-color: #57595d;


$success_color: #5ac200;
$warning_color: #ffd738;
$failed_color: #ff0f13;
$untested_color: #54534f;
$findspire_color: #345cc0;


.red {
    color: red;
}
