
/*
    Global
*/

$success_color: #5ac200;
$warning_color: #ffd738;
$failed_color: #ff0f13;
$untested_color: #54534f;
$findspire_color: #00b6e5;

@import 'templates';
@import 'colors';

/* TEMPLATE */
.pop-up-comment {
    background-color: red;
    position: absolute;
}

a {
    text-decoration: none !important;
}

#content{
    margin: 10px auto;
    margin-top: 80px;
    margin-bottom: 50px;
}
.breadcrumbs{
    background: #222 !important;
    border: none !important;
    border-top: 1px solid $findspire_color !important;
    position: fixed;
    top: 52px;
    width: 100%;
    z-index: 1001;
    a{
        color: #fff;
    }
}
.btn-custom{
    font-size: 10px !important;
    margin-bottom: 10px !important;
}
label {
    display: block;
}

li label {
    display: initial;
}
.close, .action{
    &:hover{
        cursor: pointer;
    }
}

// NAVBAR
.navbar{
    border-bottom: none !important;
    height: 52px;
    .navbar-brand{
        padding-top: 13px !important;
        img{
            height: 27px;
        }
        .version{
            top: 80%;
            float: right;
            font-size: 10px;
            position: relative;
        }
    }
    .navbar-right{
        li{
            list-style-type: none;
            font-size: 15px !important;
        }
    }
}

/* LOGIN PAGE */
.login{
    [class*='col-'] {
        padding: 10px;
    }
}

#modal_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

#modal_content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 50%;
    margin: 100px auto;
    padding: 25px;
    border-radius: 3px;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 0px;

    .close_modal {
        position: absolute;
        top: 20px;
        right: 20px;
        font-weight: bold;
        font-size: 200%;
        color: #AAA;
    }
}
.ui-tooltip{
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
    border-width: 2px;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
    Workflow detail
*/
.success{
    color: $success_color;
}
.failed{
    color: $failed_color;
}
.untested{
    color: $untested_color;
}
.controls{
    font-size: 12px;
    font-weight: 300;
}
.opacity-hover{
    transition: all 200ms ease-in-out;
    &:hover{
        cursor: pointer;
        opacity: 0.6;
    }
}

.workflow_list{
    tr{
        &:nth-child(even){
            background-color: #fafafa;
        }

        td{
            padding: 5px !important;
            text-align: center;
            vertical-align: middle;
            &:first-child{
                text-align: left;
            }
        }
        th{
            @extend td;
            font-size: 10px;

        }
        .controls a{
            opacity: 0;
        }
    }
    .item{
        a{
            transition: all 200ms ease-in-out;
            color: #5b80b2;
            &:hover{
                opacity: 0.6;
            }
        }
        &:hover{
            background-color: #f7f7f7;
            .close{
                opacity: 1;
                transition: all 200ms ease-in-out;
                &:hover{
                    opacity: 0.6;
                }
            }
        }
    }
    .progress_bar{
        background-color: #ebebeb;
        border-radius: 2px;
        font-size: 9px;
        height: 12px;
        position: relative;
        margin: auto;
        width: 100px;
        p{
            left: 44%;
            position: absolute;
        }
        .success{
            background-color: $success_color;
            border-radius: 2px;
            color: #000;
            float: left;
            height: 12px;
        }
    }
}
.progress{
    .progress-bar-disabled{
        background-color: #000;
    }
}
#items{
    table{
        width: 100%;
        margin-bottom: 25px;
        tr{
            th{
                font-weight: bold;
                font-size: 10px;
                text-decoration: none;
                &:nth-child(1){
                    font-size: 13px;
                    text-align: left;
                }
                .success{
                    transition: all 200ms ease-in-out;
                    &:hover{
                        opacity: 0.6;
                    }
                }
                .close{
                    font-size: 15px;
                    margin: auto;
                    opacity: 1;
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
            td{
                vertical-align: middle;
                &:not(:nth-child(1)){
                    text-align: center;
                } 
            }
        }
        .odd_line{
            background-color: #fafafa;
        }
        .item_list{
            .take_untake_item{
                width: 110px;
                a{
                    color: #000;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .item{
                color: #4586bd;
                cursor: pointer;
                padding-left: 10px;

            }
            .validate{
                text-align: center;
                width: 110px;
                .last_modification{
                    color: #6b6b6b;
                    font-size: 0.4em;
                }
                a{
                    &:hover{
                        text-decoration: none !important;
                    }
                    .success{
                        color: #d1d1d1;
                        &:hover, &.validated{
                            color: $success_color;
                        }
                    }
                    .untested{
                        color: #d1d1d1;
                        &:hover, &.validated{
                            color: $untested_color;
                        }
                    }
                    .failed{
                        color: #d1d1d1;
                        &:hover, &.validated{
                            color: $failed_color;
                        }
                    }
                    .disabled{
                        color: #d1d1d1;
                         &:hover, &.validated{
                            color: #000 !important;
                        }
                    }
                }
            }
            .comment{
                .comment{
                    color: $findspire_color;
                    font-size: 20px;
                    transition: all 200ms ease-in-out;
                    &:hover{
                        cursor: pointer;
                        opacity: 0.6;
                    }
                }
                .link{
                    font-size: 12px;
                }
            }
            .action, .close, .last_modification{
                font-size: 11px;
                opacity: 0;
            }
            .close{
                span{
                    color: red !important;
                    font-size: 15px;
                }
            }
            .action.comment{
                color: #ebc000;
            }
            &:hover{
                background-color: #f0f0f0;
                .action, .close, .last_modification{
                    opacity: 1;
                    a:hover{
                        opacity: 0.6;
                    }
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
        .pop-up{
            background-color: #fff;
            border: 1px solid #000;
            display: none;
            max-height: 400px;
            padding: 10px;
            position: absolute;
            text-align: center;
            width: 300px;
            z-index: 1000;
            dl{
                overflow: auto;
                max-height: 380px;
                padding: 10px;
                dt{
                    text-align: left;
                }
                dd{
                    margin-bottom: 10px;
                }
            }
            .close{
                opacity: 1;
                position: absolute;
                right: 3px;
                top: 2px;
            }
        }
        .active{
            display: block !important;
        }
    }
}  
.progress{
    .progress-bar-success{
        float: left;
    }
    .progress-bar-danger{
        float: right;
    }
    .progress-bar-untested{
        background-color: #f0ad4e !important;
        float: center;
    }
}
.square{
        display: inline;
        padding: 10px;
        &.untested{
            color: #f0ad4e;
        }
}
#filters {
    text-align: center;
    margin: 10px;

    label {
        padding: 3px;
        text-transform: capitalize;
        display: inline;

        input, span {
            cursor: pointer;
        }
    }
}

.validate {
    font-size: 150%;
    font-weight: bold;
    min-width: 100px;

    a {
        color: #babdb6;
    }
}

/*
    Item instance detail
*/

#details_see, #details_edit, #comments {
    a {
        color: #06D;
    }
}

#comments {
    pre, p {
        margin-left: 20px;
    }

    pre {
        font-family: "Monospace", serif;
    }

    a {
        text-decoration: none;
    }
}
