
/*
    Global
*/

#warning_js
{
    padding: 10px;
    text-align: center;
    background-color: #FF4136;
}

#content {
    width: 1000px;
    margin: 10px auto;
    margin-bottom: 50px;
}

label {
    display: block;
}

li label {
    display: initial;
}

#modal_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

#modal_content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 50%;
    margin: 100px auto;
    padding: 25px;
    border-radius: 3px;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 0px;

    .close_modal {
        position: absolute;
        top: 20px;
        right: 20px;
        font-weight: bold;
        font-size: 200%;
        color: #AAA;
    }
}

/*
    Workflow detail
*/

#progressbar
{
    table {
        width: 100%;
        margin: 10px 0;
        height: 30px;

        td {
            padding: 1px;
        }

        .success {
            background-color: #080;
        }

        .failed {
            background-color: #A22;
        }

        .untested {
            background-color: #888;
        }
    }

    // stats
    div {
        text-align: center;
        text-transform: capitalize;

        li {
            list-style: none;
            display: inline;
            margin: 15px;
        }

        .square {
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 1px solid black;
            margin-right: 5px;
        }

        .success .square {
            background-color: #080;
        }

        .failed .square {
            background-color: #A22;
        }

        .untested .square {
            background-color: #888;
        }
    }
}

#filters {
    text-align: center;
    margin: 10px;

    label {
        padding: 3px;
        text-transform: capitalize;
        display: inline;

        input, span {
            cursor: pointer;
        }
    }
}

#items table {
    text-decoration: bold;
    border-top: 1px solid gray;
    margin-bottom: 20px;
    width: 100%;

    th {
        text-align: left;
    }

    td {
        padding: 2px;
    }

    .take_untake_category {
        width: 20%;
    }

    .validate_category {
        width: 10%;
    }

    .odd_line {
        background-color: #ddd;
        padding-left: 50px;
    }

    .highlight:hover {
        background: #CDF;
    }

    .take_untake_category, .take_untake_item, .validate {
        text-align: center;
    }

    .item {
        padding-left: 20px;
    }

    .item:hover {
        a {
            text-decoration: underline;
        }
        .urls {
            text-decoration: none;
        }
        .urls:hover {
            text-decoration: underline;
        }
    }
}

.item, .take_untake_item, .take_untake_category, .validate {
    a {
        color: black;
        text-decoration: none;
    }
}

.validate {
    font-size: 150%;
    font-weight: bold;

    a {
        color: #babdb6;
    }
    .last_modification{
        color: red;
        font-size: 0.4em;
    }
}

/*
    Item instance detail
*/

#details_see, #details_edit, #comments {
    a {
        color: #06D;
    }
}

#comments {
    pre, p {
        margin-left: 20px;
    }

    pre {
        font-family: "Monospace", serif;
    }

    a {
        text-decoration: none;
    }
}
