
/*
    Global
*/

$success_color: #5ac200;
$failed_color: #ff0f13;
$untested_color: #828282;

#warning_js
{
    padding: 10px;
    text-align: center;
    background-color: #FF4136;
}

#content {
    width: 1000px;
    margin: 10px auto;
    margin-bottom: 50px;
}

label {
    display: block;
}

li label {
    display: initial;
}

#modal_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

#modal_content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 50%;
    margin: 100px auto;
    padding: 25px;
    border-radius: 3px;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 0px;

    .close_modal {
        position: absolute;
        top: 20px;
        right: 20px;
        font-weight: bold;
        font-size: 200%;
        color: #AAA;
    }
}
.ui-tooltip{
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
    border-width: 2px;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
    Workflow detail
*/
.success{
    color: $success_color;
}
.failed{
    color: $failed_color;
}
.untested{
    color: $untested_color;
}


.controls{
    font-size: 12px;
    font-weight: 300;
}
.workflow_list{
    tr{
        &:nth-child(even){
            background-color: #fafafa;
        }

        td{
            text-align: center;
            &:first-child{
                text-align: left;
            }
        }
        th{
            @extend td;
            font-size: 10px;

        }
        .close{
            opacity: 0;
        }
    }
    .item{
        a{
            transition: all 200ms ease-in-out;
            color: #5b80b2;
            &:hover{
                opacity: 0.6;
            }
        }
        &:hover{
            background-color: #f7f7f7;
            .close{
                opacity: 1;
                transition: all 200ms ease-in-out;
                &:hover{
                    opacity: 0.6;
                }
            }
        }
    }
    .progress_bar{
        background-color: #ebebeb;
        border-radius: 2px;
        font-size: 9px;
        height: 12px;
        position: relative;
        width: 100px;
        p{
            left: 44%;
            position: absolute;
        }
        .success{
            background-color: $success_color;
            border-radius: 2px;
            color: #000;
            float: left;
            height: 12px;
        }
    }
}

#items{
    table{
        width: 100%;
        margin-bottom: 25px;
        tr{
            th{
                font-weight: bold;
                font-size: 10px;
                text-decoration: none;
                &:nth-child(1){
                    font-size: 13px;
                    text-align: left;
                }
            }
            td{
                vertical-align: middle;
                &:not(:nth-child(1)){
                    text-align: center;
                } 
            }
        }
        .odd_line{
            background-color: #fafafa;
        }
        .item_list{
            .take_untake_item{
                width: 110px;
                a{
                    color: #000;
                }
            }
            .up_or_down{
                text-align: center;
                width: 100px;
                a:nth-child(2){
                    @extend a;
                    margin-left: 5px; 
                } 
            }
            .validate{
                text-align: center;
                width: 100px;
                .last_modification{
                    color: #6b6b6b;
                    font-size: 0.4em;
                }
            }
            .up_or_down, .close, .last_modification{
                opacity: 0;
            }
            &:hover{
                .up_or_down, .close, .last_modification{
                    opacity: 1;
                    a:hover{
                        opacity: 0.6;
                    }
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
        .tooltip{
            img{
                height: 20px;
                width: 20px;
            }
        }
    }
}  

#progressbar
{
    table {
        width: 100%;
        margin: 10px 0;
        height: 30px;

        td {
            padding: 1px;
        }

        .success {
            background-color: #080;
        }

        .failed {
            background-color: #A22;
        }

        .untested {
            background-color: #888;
        }
    }

    // stats
    div {
        text-align: center;
        text-transform: capitalize;

        li {
            list-style: none;
            display: inline;
            margin: 15px;
        }

        .square {
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 1px solid black;
            margin-right: 5px;
        }

        .success .square {
            background-color: #080;
        }

        .failed .square {
            background-color: #A22;
        }

        .untested .square {
            background-color: #888;
        }
    }
}

#filters {
    text-align: center;
    margin: 10px;

    label {
        padding: 3px;
        text-transform: capitalize;
        display: inline;

        input, span {
            cursor: pointer;
        }
    }
}

.validate {
    font-size: 150%;
    font-weight: bold;
    min-width: 100px;

    a {
        color: #babdb6;
    }
}

/*
    Item instance detail
*/

#details_see, #details_edit, #comments {
    a {
        color: #06D;
    }
}

#comments {
    pre, p {
        margin-left: 20px;
    }

    pre {
        font-family: "Monospace", serif;
    }

    a {
        text-decoration: none;
    }
}