
/*
    Global
*/

$success_color: #5ac200;
$failed_color: #ff0f13;
$untested_color: #828282;

#warning_js
{
    padding: 10px;
    text-align: center;
    background-color: #FF4136;
}

#content {
    width: 1000px;
    margin: 10px auto;
    margin-bottom: 50px;
}

label {
    display: block;
}

li label {
    display: initial;
}

#modal_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

#modal_content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 50%;
    margin: 100px auto;
    padding: 25px;
    border-radius: 3px;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 0px;

    .close_modal {
        position: absolute;
        top: 20px;
        right: 20px;
        font-weight: bold;
        font-size: 200%;
        color: #AAA;
    }
}

/*
    Workflow detail
*/
.success{
    color: $success_color;
}
.failed{
    color: $failed_color;
}
.untested{
    color: $untested_color;
}

.workflow_list{
    tr{
        td{
            text-align: center;
            &:first-child{
                text-align: left;
            }
        }
        th{
            @extend td;
            font-size: 10px;

        }
        .close{
            opacity: 0;
        }
    }
    .item{
        &:hover{
            background-color: #f7f7f7;
            .close{
                opacity: 1;
                transition: all 200ms ease-in-out;
                &:hover{
                    opacity: 0.6;
                }
            }
        }
    }
    .progress_bar{
        background-color: #ebebeb;
        border-radius: 2px;
        font-size: 9px;
        height: 12px;
        position: relative;
        width: 100px;
        p{
            left: 44%;
            position: absolute;
        }
        .success{
            background-color: #16f831;
            border-radius: 2px;
            color: #000;
            float: left;
            height: 12px;
        }
    }
}

#progressbar
{
    table {
        width: 100%;
        margin: 10px 0;
        height: 30px;

        td {
            padding: 1px;
        }

        .success {
            background-color: #080;
        }

        .failed {
            background-color: #A22;
        }

        .untested {
            background-color: #888;
        }
    }

    // stats
    div {
        text-align: center;
        text-transform: capitalize;

        li {
            list-style: none;
            display: inline;
            margin: 15px;
        }

        .square {
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 1px solid black;
            margin-right: 5px;
        }

        .success .square {
            background-color: #080;
        }

        .failed .square {
            background-color: #A22;
        }

        .untested .square {
            background-color: #888;
        }
    }
}

#filters {
    text-align: center;
    margin: 10px;

    label {
        padding: 3px;
        text-transform: capitalize;
        display: inline;

        input, span {
            cursor: pointer;
        }
    }
}

#items table {
    text-decoration: bold;
    border-top: 1px solid gray;
    margin-bottom: 20px;
    width: 100%;
    th {
        text-align: left;
    }

    td {
        padding: 2px;
        vertical-align: middle;

    }
    .close{
        margin-right: 20px;
        opacity: 0;
        text-decoration: none !important;
    }
    .close:hover{
        opacity: 0.6;
    }
    .comment{
        display: none;
        text-align: center;
    }

    .take_untake_category {
        width: 20%;
    }

    .validate_category {
        width: 10%;
    }
    .highlight, .odd_line{
        height: 30px;
    }
    .odd_line {
        background-color: #ddd;
        padding-left: 50px;
    }

    .highlight:hover {
        background: #CDF;
    }

    .take_untake_category, .take_untake_item, .validate {
        text-align: center;
    }

    .item {
        padding-left: 20px;
        width: 75%;
    }

    .item:hover {
        a {
            text-decoration: underline;
        }
        .urls {
            text-decoration: none;
        }
        .urls:hover {
            text-decoration: underline;
        }
    }
    .up_or_down{
        text-align: center;
        a{
            opacity: 0;
        }
        a:nth-child(2){
            @extend a;
            margin-left: 5px; 
        }
    }
}

.item, .take_untake_item, .take_untake_category, .validate {
    a {
        color: black;
        text-decoration: none;
    }
}

.validate {
    font-size: 150%;
    font-weight: bold;
    min-width: 100px;

    a {
        color: #babdb6;
    }
    .last_modification{
        color: #6b6b6b;
        opacity: 0;
        font-size: 0.4em;
    }
}

/*
    Item instance detail
*/

#details_see, #details_edit, #comments {
    a {
        color: #06D;
    }
}

#comments {
    pre, p {
        margin-left: 20px;
    }

    pre {
        font-family: "Monospace", serif;
    }

    a {
        text-decoration: none;
    }
}