- load i18n
- load static

!!!5
%html{lang: "{{language}}"}
    %head
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
        <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
        <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
        %link{type: "text/css", rel: "stylesheet", href: '{% static "workflow/css/base_all.css" %}'}
        %script{type: "text/javascript", src: '{% static "workflow/js/jquery-1.9.1.js" %}'}

    %body
        #warning_js
            {% trans "Your JavaScript seem to be disabled. Some functionalities needs it and we advise you to enable it." %}

        .breadcrumbs
            %a{href: "/"}
                {% trans "Home" %}
            ›
            - block breadcrumbs_app
            - block breadcrumbs

        %div
            %span{style: "padding-left:5px;"}
                {% trans "Set lang:" %}

            %ul{style: "display:inline-block; padding-left:5px; margin:0;"}
                {% for lang_code, lang_name in LANGUAGES %}
                    <li class="{% if lang_code == request.LANGUAGE_CODE %}active{% endif %}" style="display:inline-block;" >
                        <form action="{% url 'set_language' %}" method="post" name="topbar_form_{{ lang_code }}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="/" />
                            <input type="hidden" name="language" value="{{ lang_code }}" />
                            <input type="submit" value="{{ lang_code|upper }}" />
                        </form>
                    </li>
                {% endfor %}

        #content
            - block content

        %script{type: "text/javascript"}
            $('#warning_js').hide();
            - block optional_script
