- load i18n
- load static

!!!5
%html{lang: "{{language}}"}
  %head
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
    %title
      - block title
        Workflow
    %link{type: "text/css", rel: "stylesheet", href: '{% static "workflow/css/base_all.css" %}'}
    %link{type: "text/css", rel: "stylesheet", href: '{% static "workflow/css/bootstrap.min.css" %}'}
    %link{rel: "icon", href: '{% static "workflow/img/favicon.ico" %}'}
    %script{type: "text/javascript", src: '{% static "workflow/js/jquery-1.9.1.js" %}'}
    %script{type: "text/javascript", src: '{% static "workflow/js/jquery-ui.min.js" %}'}
    %script{type: "text/javascript", src: '{% static "workflow/js/bootstrap.min.js" %}'}
    %script{type: "text/javascript", src: '{% static "workflow/js/moment.js" %}'}
    %script{type: "text/javascript", src: '{% static "workflow/js/workflow_show.js" %}'}

  %body
    - block nav
      %nav
        .navbar.navbar-inverse.navbar-fixed-top
          .container-fluid
            .navbar-header
              .navbar-brand
                %a{:href => "/"}
                  %img{:src => "{% static 'workflow/img/logo.png' %}", :alt => ""}/
                .version
                  1.0.8
            .navbar-collapse.collapse
              - if request.user.is_active
                %ul.nav.navbar-nav.navbar-right
                  %li
                    %a{:href => "{% url 'workflow:project_list' %}", :title => "Projects list", :title => "{% trans 'Home' %}"}
                      %span
                        .glyphicon.glyphicon-home
                  %li.dropdown
                    %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false", :title => "Project"}
                      %span
                        .glyphicon.glyphicon-folder-open
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "{% url 'workflow:project_new' %}"}
                          %span.glyphicon.glyphicon-plus
                          {% trans 'New project' %}
                      %li
                        %a{:href => "{% url 'workflow:project_list' %}"}
                          %span.glyphicon.glyphicon-th-list
                          {% trans 'Projects list' %}
                  %li.dropdown
                    %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false", :title => "Worklow"}
                      %span.glyphicon.glyphicon-tasks
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "{% url 'workflow:workflow_new' %}"}
                          %span.glyphicon.glyphicon-plus
                          {% trans 'New Workflow' %}
                  %li.dropdown
                    %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false", :title => "User"}
                      %span.glyphicon.glyphicon-user
                    %ul.dropdown-menu
                      %li
                        %a{:href => "{% url 'team:logout' %}"}
                          %span.glyphicon.glyphicon-off
                          {% trans 'Logout' %}
                
    #warning_js
      {% trans "Your JavaScript seem to be disabled. Some functionalities needs it and we advise you to enable it." %}

    .breadcrumbs
      %a{href: "/"}
        {% trans "Home" %}
      ›
      - block breadcrumbs_app
      - block breadcrumbs

    #content
      - block content

      - block optional_script
      %script{type: "text/javascript"}
        $('#warning_js').hide();
