- load i18n
- load static

!!!5
%html{lang: "{{language}}"}
  %head
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
    %title
      - block title
        Workflow

    %link{rel: 'icon', href: '{% static "img/favicon.ico" %}'}
    %link{type: 'text/css', rel: 'stylesheet', href: '{% static "components/bootstrap/dist/css/bootstrap.min.css" %}'}
    %link{type: 'text/css', rel: 'stylesheet', href: '{% static "components/font-awesome/css/font-awesome.min.css" %}'}
    %link{type: 'text/css', rel: 'stylesheet', href: '{% static "css/base_all.css" %}'}
    %link{type: 'text/css', rel: 'stylesheet', href: '{% static "css/dashboard.css" %}'}
    %script{type: 'text/javascript', data-main: '{% static "js/main" %}', src: '{% static "components/requirejs/require.js" %}'}
    - block extra
    - include "dashboard/templates.haml"
  %body{"data-username" => "{{ request.user }}"}
    - block nav
      %nav
        .navbar.navbar-inverse.navbar-fixed-top
          .container-fluid
            .navbar-header
              .navbar-brand
                %a{:href => "/"}
                  %img{:src => "{% static 'img/logo.png' %}", :alt => ""}/
                .version
                  1.1.0
            .navbar-collapse.collapse
              - if request.user.is_active
                %ul.nav.navbar-nav.navbar-right
                  %li
                    %a{:href => "{% url 'workflow:project_list' %}", :title => "Projects list", :title => "{% trans 'Home' %}"}
                      %span
                        .glyphicon.glyphicon-home
                  %li
                    %a{:href => "{% url 'dashboard:index' %}" }
                      %span
                        %i.fa.fa-tachometer
                  %li.dropdown
                    %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false", :title => "Project"}
                      %span
                        .glyphicon.glyphicon-folder-open
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "{% url 'workflow:project_new' %}"}
                          %span.glyphicon.glyphicon-plus
                          {% trans 'New project' %}
                      %li
                        %a{:href => "{% url 'workflow:project_list' %}"}
                          %span.glyphicon.glyphicon-th-list
                          {% trans 'Projects list' %}
                  %li.dropdown
                    %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false", :title => "Worklow"}
                      %span.glyphicon.glyphicon-tasks
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "{% url 'workflow:workflow_new' %}"}
                          %span.glyphicon.glyphicon-plus
                          {% trans 'New Workflow' %}
                  - if request.user.is_superuser
                    %li.dropdown
                      %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false", :title => "Administration"}
                        %span.glyphicon.glyphicon-wrench
                      %ul.dropdown-menu
                        %li
                          %a{:href => "{% url 'team:index' %}"}
                            %i.fa.fa-users
                            {% trans 'Team and skills' %}
                        %li
                          %a{:href => "{% url 'admin:index' %}"}
                            %i.fa.fa-cogs
                            {% trans 'Administration' %}
                  %li.dropdown
                    %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false", :title => "User"}
                      %span.glyphicon.glyphicon-user
                    %ul.dropdown-menu
                      %li
                        %a{:href => "{% url 'team:logout' %}"}
                          %span.glyphicon.glyphicon-log-out
                          {% trans 'Logout' %}
                
    .breadcrumbs
      %a{href: "/"}
        {% trans "Home" %}
      ›
      - block breadcrumbs_app
      - block breadcrumbs

    #content
      .container-fluid
        - block content
