- extends "base.haml"

- load i18n
- load static

- block breadcrumbs_app
  {% trans "Home" %}

- block content
  .container-fluid
    .jumbotron
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            %i.fa.fa-smile-o 
            Version 1.0.8 has been release !
        .panel-body
          .row
            %article
              .col-md-6.col-md-offset-1
                %header
                  %h4
                    CHANGELOG
                    %hr{:style => "margin-bottom: 0"}/
                %section
                  %ul
                    %li
                      Add project, workflow and home button on navbar
                    %li
                      Add choice workflow model on creation
                    %li
                      Update workflow, project new and edit templates
                    %li
                      Fix bug on item category creation
                    %li
                      Remove "Show workflow" in title of workflow show view
                    %li
                      Add drag and drop cross categories in workflow
                    %li
                      Add dropdown menu for superuser administration
                  %small 
                    Note : Home button on navbar return on project list
      %a.col-md-offset-5{:href => "{% url 'workflow:project_list' %}"}
        %button.btn.btn-success.btn-lg
          {% trans 'See project list' %}
