- extends "base.haml"

- load i18n

- block breadcrumbs_app
  {% trans "Home" %}

- block content
  %h1
    {% trans "Workflow project" %}

  %ul
    %li
      %a{href: "{% url 'team:index' %}"}
        {% trans "Teams and skills" %}
    %li
      %a{href: "{% url 'workflow:index' %}"}
        {% trans "Workflows" %}
