- extends "base.haml"

- block breadcrumbs_app
    home

- block content
    %h1
        Workflow

    %ul
        %li
            %a{href: "{% url 'team:index' %}"}
                Team and skills
        %li
            %a{href: "{% url 'workflow:index' %}"}
                Workflow
