- load i18n
- load static

!!!5
%html{lang: "{{language}}"}
    %head
        %link{type: "text/css", rel: "stylesheet", href: '{% static "workflow/css/base_all.css" %}'}
        %script{type: "text/javascript", src: '{% static "workflow/js/jquery-1.9.1.js" %}'}
        %script{type: "text/javascript", src: '{% static "workflow/js/common.js" %}'}
        %script{type: "text/javascript", src: '{% static "workflow/js/document_ready_detail_item.js" %}'}
        %script{type: "text/javascript", src: '{% static "workflow/js/document_ready_workflow_instance.js" %}'}
        %script{type: "text/javascript", src: '{% static "workflow/js/progressbar.js" %}'}
        %script{type: "text/javascript", src: '{% static "workflow/js/shortcut.js" %}'}

    %body{class: "{% if request.user_agent.is_tablet %}touch{% endif %}"}
        - block content
