-extends "workflow/base.haml"

-block content
    .fullclass
        .idcard.idtitle
            Workflow management
        %ul
            %li
                %a{href: "{% url 'workflow-workflowinstance-list' %}"}
                    List workflows
            %li
                %a{href: "{% url 'workflow-workflowinstance-new' %}"}
                    Create a new workflow
            %li
                %a{href: "{% url 'workflow-item-new' %}"}
                    Create items
