- extends "workflow/base.haml"

- block breadcrumbs
    Index

- block content
    %h1
        Workflow management

    %table
        %tr
            %th
                %a{href: "{% url 'workflow:project_list' %}"}
                    Projects
            %td
                %a{href: "{% url 'workflow:project_new' %}"}
                    Add
        %tr
            %th
                %a{href: "{% url 'workflow:project_list' %}"}
                    Workflows
             %td
                %a{href: "{% url 'workflow:workflow_new' %}"}
                    Add
        %tr
            %th
                %a{href: "{% url 'workflow:item_model_list' %}"}
                    Items
             %td
                %a{href: "{% url 'workflow:item_category_new' %}"}
                    Add category
                \-
                %a{href: "{% url 'workflow:item_model_new' %}"}
                    Add model
