- extends "workflow/base.haml"

- block breadcrumbs
    Index

- block content
    %h1
        Workflow management

    %ul
        %li
            %a{href: "{% url 'workflow:project_list' %}"}
                List projects and workflows
        %li
            %a{href: "{% url 'workflow:project_new' %}"}
                Create a new project
        %li
            %a{href: "{% url 'workflow:workflow_new' %}"}
                Create a new workflow
        %li
            %a{href: "{% url 'workflow:itemmodel_new' %}"}
                Create items models
