- extends "workflow/base.haml"

- block breadcrumbs
    List item models

- block content
    %h1
        List item models

    %ul
        - for category, items in categories.items
            %li
                %h2
                    {{ category.name }}
                    (<a href="{% url 'workflow:item_category_edit' category.pk %}">Edit</a>)
                    (<a href="{% url 'workflow:item_model_new' category.pk %}">New item model</a>)

                - if items
                    %ul
                        - for subject in items
                            %li
                                %a{href: "{% url 'workflow:item_model_edit' subject.pk %}"}
                                    {{ subject.name }}
                                %em
                                    {{ subject.description }}
                - else
                    %p
                        %em
                            No items in this category.
