- extends "workflow/base.haml"

- block content
    %div
        Workflow creation

    - if status == "NEW"
        %div
            %form{action: "{% url 'workflow-item-new' %}", method: "POST"}
                %table
                    %tr
                        %td
                            {{ form.category.label }}
                        %td
                            {{ form.category }}
                    %tr
                        %td
                            {{ form.items.label }}
                        %td
                            {{ form.items }}

                %input{type: "submit", title: "Create"}

    - if status == "OK"
        %div
            %span
                Items created

    - if status == "KO"
        %div
            %span
                Items not created : {{ error }}

