- extends "workflow/base.haml"

- block breadcrumbs
    Item model creation

- block content
    %h1
        Item model creation

    %form{action: "{% url 'workflow:itemmodel_new' %}", method: "POST"}
        - csrf_token

        %fieldset.module.aligned
            {{ form.as_p }}

        .submit-row
            %input{type: "submit", title: "Create"}
