- extends "workflow/base.haml"

- load i18n

- block breadcrumbs
    {% trans "List item models" %}

- block content
    %h1
        {% trans "List item models" %}

    %ul
        - for item in object_list
            {% ifchanged item.category %}
                {# if end of a category, close the items unorderer-list then close the category list-item #}
                {% if forloop.counter != 1 %}
                    </ul>
                    </li>
                {% endif %}

                {# show the changed category as title and open a unordered-list for its items #}
                <li>
                    <h2>
                        {{ item.category.name }}
                        (<a href="{% url 'workflow:item_category_edit' item.category.pk %}">{% trans "Edit" %}</a>)
                        (<a href="{% url 'workflow:item_model_new' item.category.pk %}">{% trans "New item model" %}</a>)
                    </h2>

                    <ul>
            {% endifchanged %}

                <li>
                    <a href="{% url 'workflow:item_model_edit' item.pk %}">
                        {{ item.name }}
                    </a>
                    <em>
                        {{ item.description }}
                    </em>
                </li>

    - include "utils/paginator.part.haml"
