- extends "workflow/base.haml"

- block breadcrumbs
    Project list

- block content
    %h1
        Projects list

    - for project, workflows in projects.items
            %h2
                {{ project }}

            - if workflows
                %ul
                    - for workflow in workflows
                        %li
                            %a{href: "{% url 'workflow:workflow_show' workflow.pk 'all' %}"}
                                {{ workflow.version }}
                            %a{href: "{% url 'workflow:workflow_delete' workflow.pk %}"}
                                %img.untake{src: "/static/workflow/img/untake.png"}
            - else
                %em
                    No workflows in this project.
