- extends "workflow/base.haml"

- load i18n
- load workflow_tags
- load static

- block breadcrumbs
    {% trans "Projects list" %}

- block content
    %h1
        {% trans "Projects list" %}

    %ul
        - for project, workflows in projects.items
            %li
                %h2
                    {{ project }}
                    (<a href="{% url 'workflow:project_edit' project.pk %}">Edit</a>)
                    (<a href="{% url 'workflow:workflow_new' project.pk %}">New workflow</a>)

                - if workflows
                        %table.workflow_list{:style => "width: 100%"}
                            %tr
                                %th
                                    {% trans 'Workflow version' %}
                                %th
                                    {% trans 'Success percent' %}
                                %th
                                    {% trans 'Success / Untested / Failed' %}
                                %th
                                    {% trans 'Creation date' %}
                                %th

                            - for workflow in workflows
                                %tr
                                    %td{:style => "width: 60%"}
                                        %a{href: "{% url 'workflow:workflow_show' workflow.pk 'all' %}"}
                                            {{ workflow.version }}
                                    %td
                                        %span.success
                                            {{ workflow.success_percent }}% 
                                    %td
                                        %span.success
                                            {{ workflow|get_count:'success'}}
                                        \/
                                        %span.untested
                                            {{ workflow|get_count:'untested' }}

                                        \/
                                        %span.failed
                                            {{ workflow|get_count:'failed' }}
                                    %td
                                        {{ workflow.creation_date|date:"d/m/Y" }}

                                    %td
                                        - if request.user.person in workflow.project.team.members.all
                                            %a{:href => "{% url 'workflow:workflow_delete' workflow.pk %}"}
                                                %img{:src => "{% static 'workflow/img/untake.png' %}", :alt => ""}/
                - else
                    %p
                        %em
                            {% trans "No workflows in this project." %}
