- extends "workflow/base.haml"

- load i18n
- load l10n
- load workflow_tags
- load static
- block title
    Projects

- block breadcrumbs
    {% trans "Projects list" %}

- block content
    %h1
        {% trans "Projects list" %}

    %ul
        - for project, workflows in projects.items
            - if user.person in project.team.members.all or user.is_superuser
                %li
                    %h2
                        {{ project }}
                        %span.controls
                            %a{:href => "{% url 'workflow:project_edit' project.pk %}"}
                                {% trans 'Edit' %}
                            \/
                            %a{:href => "{% url 'workflow:workflow_new' project.pk %}"}
                                {% trans 'New workflow' %}

                    - if workflows
                            %table.workflow_list{:style => "width: 100%"}
                                %tr
                                    %th
                                        {% trans 'Workflow version' %}
                                    %th
                                        {% trans 'Success percent' %}
                                    %th
                                        {% trans 'Success / Untested / Failed / Disabled' %}
                                    %th
                                        {% trans 'Creation date' %}
                                    %th

                                - for workflow in workflows
                                    %tr.item{"data-item-pk" => "{{ workflow.pk }}", "data-model" => "workflow"}
                                        %td{:style => "width: 55%"}
                                            %a{href: "{% url 'workflow:workflow_show' workflow.pk 'all' %}"}
                                                {{ workflow.version }}
                                        %td
                                            .progress_bar
                                                %span.success{:style => 'width:{{ workflow.get_success_percent }}%;'}
                                                %p
                                                    {{ workflow.get_success_percent }}% 
                                        %td
                                            %span.success
                                                {{ workflow|get_count:'success'}}
                                            \/
                                            %span.untested
                                                {{ workflow|get_count:'untested' }}

                                            \/
                                            %span.failed
                                                {{ workflow|get_count:'failed' }}
                                            
                                            \/
                                            %span.disabled
                                                {{ workflow|get_count:'disabled' }}
                                        %td
                                            {{ workflow.creation_date|date:"d/m/Y" }}

                                        %td
                                            - if request.user.person in workflow.project.team.members.all
                                                %a.close{data-workflow: "{{workflow.pk}}"}
                                                    %img{:src => "{% static 'workflow/img/untake.png' %}", :alt => ""}/
                    - else
                        %p
                            %em
                                {% trans "No workflows in this project." %}
