- extends "workflow/base.haml"

- block breadcrumbs
    Project creation

- block content
    %h1
        Project creation

    %form{action: "{% url 'workflow:project_new' %}", method: "POST"}
        %fieldset.module.aligned
            {{ form.as_p }}

        .submit-row
            %input{type: "submit", title: "Create"}
