- extends "workflow/base.haml"

- block breadcrumbs
    Project list

- block content
    %h1
        Projects list

    %ul
        - for project, workflows in projects.items
            %li
                %h2
                    {{ project }}
                    (<a href="{% url 'workflow:project_edit' project.pk %}">Edit</a>)
                    (<a href="{% url 'workflow:workflow_new' project.pk %}">New workflow</a>)

                - if workflows
                    %ul
                        - for workflow in workflows
                            %li
                                %a{href: "{% url 'workflow:workflow_show' workflow.pk 'all' %}"}
                                    {{ workflow.version }}
                                \-
                                Complete {{ workflow.get_success_percent }}% ({{ workflow.get_failed_count }} failed - {{ workflow.get_untested_count }} untested)
                - else
                    %p
                        %em
                            No workflows in this project.
