- extends "workflow/base.haml"
- load static

- block breadcrumbs
    Show workflow

- block content
    %h1
        Show workflow : {{ workflow.project.name }} - {{ workflow.version }}

    %hr

    #progressbar
        %table
            %tr
                %td{class:"success", style:"width: {{ percent.success }}%"}
                %td{class:"failed", style:"width: {{ percent.failed }}%"}
                %td{class:"untested", style:"width: {{ percent.untested }}%"}
        %div
            %ul
                %li
                    %span{class:"success"}
                    Success: {{ counters.success }}
                %li
                    %span{class:"failed"}
                    Failed: {{ counters.failed }}
                %li
                    %span{class:"untested"}
                    Untested: {{ counters.untested }}

    %hr

    #filters
        %label.all
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'all' %}');">
            %span
                All items {{ counters.all }}
        %label.mine
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'mine' %}');">
            %span
                Mine items {{ counters.mine }}
        %label.untaken
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'untaken' %}');">
            %span
                Untaken items {{ counters.untaken }}
        %label.taken
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'taken' %}');">
            %span
                Taken items {{ counters.taken }}
        %label.success
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'success' %}');">
            %span
                Success items {{ counters.success }}
        %label.failed
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'failed' %}');">
            %span
                Failed items {{ counters.failed }}

    #items
        - include "workflow/workflow_show.table.part.haml"

- block optional_script
    $(document).ready(function() {
        $("#filters ." + location.pathname.split('/')[5]+' input').attr("checked", "checked").parent().attr("style", "font-weight: bold !important;");
    });
