-extends "workflow/base.haml"

-block content

    %div Workflow creation

    -if status == "NEW"
        %div
          %form{action: "{% url 'workflow-workflowinstance-new' %}", method: "POST"}
                {{ form.workflow.label }} : {{ form.workflow }}
                {{ form.version.label }} : {{ form.version }}
                %input{type: "submit", title: "Create"}

    -if status == "OK"
        %div
            %span workflow created

    -if status == "KO"
        %div
            %span workflow not created : {{ error }}
