- extends "workflow/base.haml"
- load static

- block breadcrumbs
    Show workflow

- block content
    %h1
        Show workflow : {{ workflow.project.name }} - {{ workflow.version }}

    %hr

    #progressbar
        #chart{style: "height:50px;"}

        %div{style: "margin:15px;"}
            %ul
                %li
                    %span{class:"success"}
                    Success: {{ counters.success }}
                %li
                    %span{class:"failed"}
                    Failed: {{ counters.failed }}
                %li
                    %span{class:"untested"}
                    Untested: {{ counters.untested }}

    %hr

    #filters
        %label.all
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'all' %}');">
            %span
                All items {{ counters.all }}
        %label.mine
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'mine' %}');">
            %span
                Mine items {{ counters.mine }}
        %label.untaken
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'untaken' %}');">
            %span
                Untaken items {{ counters.untaken }}
        %label.taken
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'taken' %}');">
            %span
                Taken items {{ counters.taken }}
        %label.success
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'success' %}');">
            %span
                Success items {{ counters.success }}
        %label.failed
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'failed' %}');">
            %span
                Failed items {{ counters.failed }}

    #items
        - include "workflow/workflow_show.table.part.haml"

- block optional_script
    $(document).ready(function() {
        $("#filters ." + location.pathname.split('/')[5]+' input').attr("checked", "checked").parent().attr("style", "font-weight: bold !important;");
    });

    google.load('visualization', '1.0', {'packages':['corechart']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var wrapper = new google.visualization.ChartWrapper({
            chartType: 'BarChart',
            dataTable: [
                ['', 'Sucess', 'Failed', 'Untested'],
                ['', {{ counters.success }}, {{ counters.failed }}, {{ counters.untested }}],

            ],
            options: {
                bar: {
                    groupWidth: '100%'
                },
                chartArea: {
                    left: 0,
                    top: 0,
                    width: '100%',
                    height: '100%',
                },
                colors: [
                    '#080',
                    '#A22',
                    '#888',
                ],
                hAxis: {
                    viewWindowMode: 'maximized',
                },
                height: 50,
                isStacked: true,
                tooltip: {
                    trigger: 'none',
                },
            },
            containerId: 'chart'
        });
        wrapper.draw();
    }
