- extends "workflow/base.haml"

- block breadcrumbs
    Workflow creation

- block content
    %h1
        Workflow creation

    %form{action: "{% url 'workflow:workflow_new' %}", method: "POST"}
        %fieldset.module.aligned
            {{ form.as_p }}

        .submit-row
            %input{type: "submit", title: "Create"}

- block optional_script
    $(document).ready(function() {
        labels = $('form .label_category input');

        labels.click(function() {
            var value = $(this).parent().find('input').prop('checked');
            $(this).parent().next().find('input').prop('checked', value);
        });

    });
