- extends "workflow/base.haml"

- block breadcrumbs
    Workflow creation

- block content
    %h1
        Workflow creation

    %form{action: "{% url 'workflow:workflow_new' %}", method: "POST"}
        %fieldset.module.aligned
            {{ form.as_p }}

        .submit-row
            %input{type: "submit", title: "Create"}
