- extends "workflow/base.haml"

- load static
- load i18n

- block breadcrumbs
    {% trans "Show workflow" %}

- block content
    %h1
        {% trans "Show workflow:" %} {{ workflow.project.name }} - {{ workflow.version }}

    %hr

    %p
        %a{href: "{% url 'workflow:item_model_add_to_workflow' workflow.pk %}"}
            {% trans "Add an item in this workflow" %}

    %hr

    #progressbar
        %table
            %tr
                %td{class:"success", style:"width: {{ percent.success }}%"}
                %td{class:"failed", style:"width: {{ percent.failed }}%"}
                %td{class:"untested", style:"width: {{ percent.untested }}%"}
        %div
            %ul
                %li
                    %span{class:"success"}
                    {% trans "Success:" %} {{ counters.success }}
                %li
                    %span{class:"failed"}
                    {% trans "Failed:" %} {{ counters.failed }}
                %li
                    %span{class:"untested"}
                    {% trans "Untested:" %} {{ counters.untested }}

    %hr

    #filters
        %label.all
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'all' %}');">
            %span
                {% trans "All items" %} {{ counters.all }}
        %label.mine
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'mine' %}');">
            %span
                {% trans "Mine items" %} {{ counters.mine }}
        %label.untaken
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'untaken' %}');">
            %span
                {% trans "Untaken items" %} {{ counters.untaken }}
        %label.taken
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'taken' %}');">
            %span
                {% trans "Taken items" %} {{ counters.taken }}
        %label.success
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'success' %}');">
            %span
                {% trans "Success items" %} {{ counters.success }}
        %label.failed
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'failed' %}');">
            %span
                {% trans "Failed items" %} {{ counters.failed }}

    #items
        - include "workflow/workflow_show.table.part.haml"

- block optional_script
    $(document).ready(function() {
        $("#filters ." + location.pathname.split('/')[5]+' input').attr("checked", "checked").parent().attr("style", "font-weight: bold !important;");
    });
