- extends "workflow/base.haml"

- load static
- load i18n

- block breadcrumbs
    {% trans "Show workflow" %}

- block content
    %h1
        {% trans "Show workflow:" %} {{ workflow.project.name }} - {{ workflow.version }} (<a href="{% url 'workflow:workflow_edit' workflow.pk %}">Edit</a>)

    %hr

    %ul
        %li{id: "workflow_add_item"}
            %a{href: "{% url 'workflow:item_model_add_to_workflow' workflow.pk %}"}
                {% trans "Add an item in this workflow" %}
        %li{id: "workflow_add_category"}
            %a{href: "{% url 'workflow:item_category_new' %}"}
                {% trans "Add an item category" %}

    %hr

    #progressbar
        %table
            %tr
                %td{class: "success", style: "width: 0;"}
                %td{class: "failed", style: "width: 0;"}
                %td{class: "untested", style: "width: 1;"}
        %div
            %ul
                %li{class: "success"}
                    %span{class: "square"}
                    {% trans "Success:" %}
                    %span{class: "number"}
                        {{ counters.success }}
                %li{class: "failed"}
                    %span{class: "square"}
                    {% trans "Failed:" %}
                    %span{class: "number"}
                       {{ counters.failed }}
                %li{class: "untested"}
                    %span{class: "square"}
                    {% trans "Untested:" %}
                    %span{class: "number"}
                        {{ counters.untested }}

    %hr

    #filters
        %label.all
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'all' %}');">
            %span
                {% trans "All items" %}
            %span{class: "number"}
                {{ counters.all }}
        %label.mine
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'mine' %}');">
            %span
                {% trans "Mine items" %}
            %span{class: "number"}
                {{ counters.mine }}
        %label.untaken
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'untaken' %}');">
            %span
                {% trans "Untaken items" %}
            %span{class: "number"}
                {{ counters.untaken }}
        %label.taken
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'taken' %}');">
            %span
                {% trans "Taken items" %}
            %span{class: "number"}
                {{ counters.taken }}
        %label.success
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'success' %}');">
            %span
                {% trans "Success items" %}
            %span{class: "number"}
                {{ counters.success }}
        %label.failed
            <input type="radio" onClick="$(location).attr('href','{% url 'workflow:workflow_show' workflow.pk 'failed' %}');">
            %span
                {% trans "Failed items" %}
            %span{class: "number"}
                {{ counters.failed }}

    #items
        - for category, items_list in items.items
            %table
                - include "workflow/workflow_show.table.part.haml"

    #modal_background
    #modal_content

- block optional_script
    %script
        var counters = {
            "all": {{ counters.all }},
            "success": {{ counters.success }},
            "failed": {{ counters.failed }},
            "untested": {{ counters.untested }},
            "taken": {{ counters.taken }},
            "untaken": {{ counters.untaken }},
            "mine": {{ counters.mine }},
        };

    %script{type: "text/javascript", src: '{% static "workflow/js/workflow_show.js" %}'}
