- extends "workflow/base.haml"

- load static

- block optional_js
    %script{type:'text/javascript', src:'{% static "workflow/js/document_ready_workflow_instance.js" %}'}
    %script{type:'text/javascript', src:'{% static "workflow/js/progressbar.js" %}'}
    %script{type:'text/javascript', src:'{% static "workflow/js/shortcut.js" %}'}
    %script{type:'text/javascript', src:'{% static "workflow/js/common.js" %}'}

- block content
    %script{type:"text/javascript"}
        var gl_total = {{ counter.Total }};
        var gl_failed = {{ counter.Failed }};
        var gl_success = {{ counter.Success }};
        var gl_taken = {{ counter.Taken }};
        var gl_untaken = {{ counter.Free }};
        var gl_not_solved = {{ counter.NotSolved }};
        var gl_mine = {{ counter.Mine }};

    .progress_workflow
        #progress_bar

        .progress_bar_stats
            %ul
                %li
                    %span#stats-success
                %li
                    %span#stats-failed
                %li
                    %span#stats-unsolved

    .filters_workflow
        %label
            <input type="radio" id="filters-all" onClick="$(location).attr('href','{% url 'workflow-workflowinstance-show' workflowinstance.id display.all %}');">
        %label
            <input type="radio" id="filters-mine" onClick="$(location).attr('href','{% url 'workflow-workflowinstance-show' workflowinstance.id display.mine %}');">
        %label
            <input type="radio" id="filters-untaken" onClick="$(location).attr('href','{% url 'workflow-workflowinstance-show' workflowinstance.id display.untaken %}');">
        %label
            <input type="radio" id="filters-taken" onClick="$(location).attr('href','{% url 'workflow-workflowinstance-show' workflowinstance.id display.taken %}');">
        %label
            <input type="radio" id="filters-successful" onClick="$(location).attr('href','{% url 'workflow-workflowinstance-show' workflowinstance.id display.successful %}');">
        %label
            <input type="radio" id="filters-failed" onClick="$(location).attr('href','{% url 'workflow-workflowinstance-show' workflowinstance.id display.failed %}');">

    .categories_table_workflow
        - for category in categories
            - include "workflow/workflowinstance_show.table.part.haml"
