
- load i18n
- load workflow_tags

        %tr
            %th
                {{ category.name }}
                %em{style: "font-weight:normal;"}
                    %a{href: "{% url 'workflow:item_model_add_to_workcat' workflow.pk category.pk %}"}
                        {% trans "Add an item" %}

            %td.take_untake_category
                %span{class: "take"}
                    %a{href:"{% url 'workflow:update' 'take' 'category' category.pk workflow.pk %}?next={{ request.path }}", title:"Take all items of the category"}
                        {% trans "Take all" %}
                \/
                %span{class: "untake"}
                    %a{href:"{% url 'workflow:update' 'untake' 'category' category.pk workflow.pk %}?next={{ request.path }}", title:"Untake all items of the category"}
                        {% trans "Untake all" %}
                %span{class: "show", id: "take_untake_category_{{ category.pk }}_show"}
                    %a{href:"{% url 'workflow:update' 'show' 'category' category.pk workflow.pk %}?next={{ request.path }}", title:"Untake all items of the category"}

        - for item in items_list
            %tr{class: "highlight {% if forloop.counter|divisibleby:2 %}{% else %}odd_line{% endif %}"}
                %td.item
                    %a{href: "{% url 'workflow:item_instance_show' item.pk %}", title:"Label item"}
                        {{ item.item_model.name }}

                    - for url, ticket_id in item.item_model.name|get_tickets
                        - if forloop.counter == 1
                            %strong{style:"margin-left:20px;"}
                                {% trans "Tickets:" %}
                        %a.urls{href:"{{ url }}", alt:"Ticket #{{ ticket_id }}"}
                            \#{{ ticket_id }}
                        - if not forloop.last
                            \-

                %td.take_untake_item
                    - include "workflow/workflow_show.take_untake.part.haml"

                %td.validate
                    - include "workflow/workflow_show.validate.part.haml"
