- extends "team/base.haml"

- block breadcrumbs
    List competences

- block content
    %h1
        List competences

    %ul
        - for category, competences in categories.items
            %li
                %h2
                    {{ category.name }}
                    (<a href="{% url 'team:competence_category_edit' category.pk %}">Edit</a>)
                    (<a href="{% url 'team:competence_subject_new' category.pk %}">New competence subject</a>)

                - if competences
                    %ul
                        - for subject in competences
                            %li
                                %a{href: "{% url 'team:competence_subject_edit' subject.pk %}"}
                                    {{ subject.name }}
                                    %em
                                        {{ subject.description }}
                - else
                    %p
                        %em
                            No competences in this category.
