- extends "team/base.haml"

- block breadcrumbs
    Compentences instances edit

- block content
    %h1
        Compentences instances edit (user: {{ profile_detail }})

    %ul
        - for comp in object_list
            %li
                %a{href: "{% url 'team:competence_instance_edit' comp.pk %}"}
                    {{ comp.techno.name }} - {{ comp.techno.category.name }} (strength: {{ comp.strength }})
