- extends "team/base.haml"

- load static

- block breadcrumbs
    Index

- block content
    %h1
        Team management

    %table
        %tr
            %th
                %a{href: "{% url 'team:person_list' %}"}
                    Person
            %td
                %a{href: "{% url 'team:person_new' %}"}
                    Add
        %tr
            %th
                %a{href: "{% url 'team:team_list' %}"}
                    Team
             %td
                %a{href: "{% url 'team:team_new' %}"}
                    Add
        %tr
            %th
                %a{href: "{% url 'team:skill_subject_list' %}"}
                    Skill categories
            %td
                %a{href: "{% url 'team:skill_category_new' %}"}
                    Add category
                \-
                %a{href: "{% url 'team:skill_subject_new' %}"}
                    Add subject
