- extends "team/base.haml"

- load static

- block breadcrumbs
    Index

- block content
    %h1
        Team management

    %ul
        %li
            %a{href: "{% url 'team:competences_list' %}"}
                List competences
        %li
            %a{href: "{% url 'team:competence_category_new' %}"}
                Create competence category
        %li
            %a{href: "{% url 'team:competence_subject_new' %}"}
                Create competence subject


        %li
            %a{href: "{% url 'team:index' %}"}
                Person
        %li
            %a{href: "{% url 'team:index' %}"}
                Team
