- extends "team/base.haml"

- load i18n

- block breadcrumbs
  {% trans "List persons" %}

- block content
  %h1
    {% trans "List persons" %}

  %ul
    - for person in object_list
      %li
        %a{href: "{% url 'team:person_edit' person.pk %}"}
          {{ person }}

  - include "utils/paginator.part.haml"
