- extends "team/base.haml"

- load i18n

- block breadcrumbs
    %a{href: "{% url 'team:person_edit' profile_detail.pk %}"}
        {% blocktrans trimmed %}
           Edit {{ profile_detail }}
        {% endblocktrans %}
    ›
    {% trans "Compentences instances edit" %}

- block content
    %h1
        {% blocktrans trimmed %}
            Compentences instances edit (user: {{ profile_detail }})
        {% endblocktrans %}

    %p
        %em
            %a{href: "{% url 'team:person_edit' profile_detail.pk %}"}
                {% blocktrans trimmed %}
                    Back to {{ profile_detail }}'s general informations
                {% endblocktrans %}

    %ul
        - for comp in object_list
            %li
                %a{href: "{% url 'team:skill_instance_edit' comp.pk %}"}
                    {{ comp.techno.name }} - {{ comp.techno.category.name }} (strength: {{ comp.strength }})
